<header>
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0"
          (click)="onSelect('app')" 
        >
          <img src="../assets/imgs/bearbot.png" alt="brand" style="max-height: 50px;">
          Gianlucca Leoncini
        </a>

        <ul class="nav col-12 col-lg-auto mr-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2" (click)="onSelect('about')">About</a></li>
          <li><a href="#" class="nav-link px-2" (click)="onSelect('projects')">Projects</a></li>
        </ul>
      </div>
    </div>
</header>