<section>
    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>About Me nad my Plans</h2>
        <p>I am a developer, studying front-end, a bit of back-end and with a lot of indie gamedev experience.
            I am still looking for my first working experience, either in gaming or front-end, focusing more on
            the last. My main focus of training today is angular, css, UI and agile workflow.
        </p>
        <p>
            For my next steps I plan on building experience, primarily on front-end and then becoming full stack.
            My familiarity with C#, thanks to Unity development, points me towards working with .NET framework, 
            and I am taking my first steps in SQL too, therefore begining to build back-end knowledge.
        </p>
    </div>

    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>Education</h2>
        <h4>Bacharelado em Ciência da Computação</h4>
        <p>UNESP - São José do Rio Preto</p>
        <p>Start: 03/2017 - Finish: 01/2022</p>
    </div>

    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>Experience</h2>
        <ul>
            <li>
                <p>
                    Projects Directos - Empresa Júnior de Ciência da Computação ECCJr
                </p>
                <p>Active Time: 08/2018 - 01/2022</p>
                <p>Activities:</p>
                <p>
                    Reach for projects of web development, client interaction, organizing teams,
                    new members aquisition, web development using HTML, CSS and Bootstrap.
                </p>
            </li>
            <li>
                <p>Grupo de Pesquisa em Jogos ICMC-USP</p>
                <p>
                    Short participation through the second half of 2022 upon manifestating interest in a masters degree,
                    with the group. 
                </p>
                <p>
                    Contact with a gamedev team, with an organized development workflow, actively participating in
                    meetings, learning more about Unity Engine, C# development and agile work environment. 
                </p>
                <p>
                    While active in the group,, i have built a dialogue tree using Unity's UI Builder.
                </p>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>Skills</h2>
        <div class="row">
            <div class="col-6">
                <h5>Hard Skills</h5>
                <ul>
                    <li>C#</li>
                    <li>UI/UX</li>
                    <li>Figma</li>
                    <li>Git</li>
                    <li>Agile Development</li>
                    <li>Unity Engine</li>
                    <li>Angular</li>
                    <li>TypeScript</li>
                    <li>Html/Css</li>
                    <li>Node.js</li>
                    <li>.NET</li>
                    <li>MSSQL</li>
                </ul>
            </div>
            <div class="col-6">
                <h5>Soft Skills</h5>
                <ul>
                    <li>Teamwork</li>
                    <li>Adaptability</li>
                    <li>Criativity</li>
                    <li>Communication</li>
                    <li>Good Humor</li>
                    <li>Flexibility</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>Languages</h2>
        <ul>
            <li>Portuguese - Native</li>
            <li>English - Advanced</li>
            <li>Italian - Basic</li>
        </ul>
    </div>
</section>
