<section>
    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>About Me</h2>
        <p>I am a developer, studying front-end, a bit of back-end and with a lot of indie gamedev experience.
            I am still looking for my first working experience, either in gaming or front-end, focusing more on
            the last. My main focus of training today is angular, css, UI and agile workflow.
        </p>
        <p>
            For my next steps I plan on building experience, primarily on front-end and then becomng full stack.
            My familiarity with C#, thanks to Unity development, points me to working with .NET framework, and I am 
            taking my first steps in SQL too.
        </p>
    </div>

    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>Education</h2>
        <h4>Bacharelado em Ciência da Computação</h4>
        <p>UNESP - São José do Rio Preto</p>
        <p>Início: 03/2017 - Término: 01/2022</p>
    </div>

    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>Experience</h2>
        <ul>
            <li>
                <p>
                    Diretor de Projetos - Empresa Júnior de Ciência da Computação ECCJr
                </p>
                <p>Período: 08/2018 - 01/2022</p>
                <p>Atividades:</p>
                <p>
                    Busca por projetos de desenvolvimento web, interação com clientes, organização de times, 
                    aquisição de novos integrantes e desenvolvimento web (HTML, CSS, Bootstrap)
                </p>
            </li>
            <li>
                <p>Grupo de Pesquisa em Jogos ICMC-USP</p>
                <p>
                    Breve participação na segunda metade de 2022, ao manifestar interesse em um mestrado com o grupo. 
                </p>
                <p>
                    Tive contato com um grupo de desenvolvimento de jogos, com um fluxo de desenvolvimento organizado, 
                    participando ativamente de reuniões, aprendendo mais sobre a Unity Engine, desenvolvimento em C# e 
                    ambiente ágil. Participei da construção de uma árvore de diálogos utilizando UI Builder da Unity.
                </p>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column align-content-center justify-content-center justify-content-lg-between">
        <h2>Languages</h2>
        <ul>
            <li>Portuguese - Native</li>
            <li>English - Advanced</li>
            <li>Italian - Basic</li>
        </ul>
    </div>
</section>
