<section>
    <div class="d-flex align-content-center justify-content-center justify-content-lg-between">
        <div class="">
            <img src="assets/imgs/gian.jpg" alt="me_img" style="max-height: 180px;">
        </div>
        <div class="main-content">
            <h2>Hi, I am Gian</h2>
            <p>
                Good morning Good afternoon Good night! I'm Gian, I'm 24 years old, I'm a developer, 
                eternal RPG master, passionate about games and horror stuff. I study development, 
                using some current technologies such as Angular, TypeScript, .NET, HTML, CSS, 
                passing through game development with Unity and a bit of Unreal.
            </p>
            <p>
                I am still looking to start my career in the job market as a developer and improve my skills, 
                knowledge and gain experience in the work environment.
            </p>
        </div>
    </div>

</section>